
extends layout

block content
    div
        .page-title
            .title_left
                h3
                    | Categorias
            .title_right
                .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
                    .input-group

        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_content
                    table#datatable-fixed-header.table.table-striped.table-bordered
                        thead
                            tr
                                th Id
                                th Nombre
                                th Descripcion
                                th Cantidad reportes
                                th Acciones
                        tbody
                            each dato in datos
                                tr.even.pointer
                                    td.a-center #{dato.idcategoria}
                                    td.a-center #{dato.nombre}
                                    td.a-center 325
                                    td.a-center #{dato.prioridad}
                                    td Borrar | Editar
                            //each dato in datos
                                tr.even.pointer
                                    td.a-center

