extends layout

block content
    div
        .page-title
            .title_left
                h3 Nuevo Reporte
            .title_right
                .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
                    .input-group
                        input.form-control(type='text', placeholder='Search for...')
                        span.input-group-btn
                            button.btn.btn-default(type='button') Go!
        .clearfix
        .row
            .col-md-12.col-sm-12.col-xs-12
                .x_panel
                    .x_title
                        ul.nav.navbar-right.panel_toolbox
                            li
                                a.collapse-link
                                    i.fa.fa-chevron-up
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                    i.fa.fa-wrench
                                ul.dropdown-menu(role='menu')
                                    li
                                        a(href='#') Settings 1
                                    li
                                        a(href='#') Settings 2
                            li
                                a.close-link
                                    i.fa.fa-close
                        .clearfix
                    .x_content
                        // Smart Wizard
                        p
                            //| This is a basic form wizard example that inherits the colors from the selected scheme.
                        #wizard.form_wizard.wizard_horizontal
                            ul.wizard_steps
                                li
                                    a(href='#step-1')
                                        span.step_no 1
                                        span.step_descr
                                            | Paso 1
                                            br
                                            small Datos del cliente
                                li
                                    a(href='#step-2')
                                        span.step_no 2
                                        span.step_descr
                                            | Paso 2
                                            br
                                            small Descripciones
                                li
                                    a(href='#step-3')
                                        span.step_no 3
                                        span.step_descr
                                            | Paso 3
                                            br
                                            small Archivos adjuntos
                                li
                                    a(href='#step-4')
                                        span.step_no 4
                                        span.step_descr
                                            | Paso 4
                                            br
                                            small Comentarios
                            form.form-horizontal.form-label-left(action="/reporte_local" method="post" name="wizard" enctype='multipart/form-data')
                                #step-1

                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12
                                            | Tipo de cliente
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            #gender.btn-group(data-toggle='buttons' )
                                                label.btn.btn-default(data-toggle-class='btn-primary', data-toggle-passive-class='btn-default' class="tipoCliente")
                                                    input(type='radio', name='tipo', value='local' checked)
                                                    |  Local
                                                label.btn.btn-primary(data-toggle-class='btn-primary', data-toggle-passive-class='btn-default' class="tipoCliente")
                                                    input(type='radio', name='tipo', value='empresa')
                                                    |  Empresa
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12(for='nombre')
                                            | Nombre del cliente
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            input.form-control.col-md-7.col-xs-12(type='text', id="nombre", name="nombre", required='required')
                                    .form-group#idempresa(style="display:none")
                                        label.control-label.col-md-3.col-sm-3.col-xs-12(for='empresa')
                                            | id de la empresa (se cambiará por un select)
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            input.form-control.col-md-7.col-xs-12(type='text', id="empresa", name="empresa", required='required')
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12(for='correo')
                                            | Correo electronico
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            input.form-control.col-md-7.col-xs-12(type='text', name='correo' id="correo")
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12(for='telefono')
                                            | Telefono
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            inpuT.form-control.col-md-7.col-xs-12(type='text', name='telefono' id="telefono")
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12(for='telefono2')
                                            | Telefono 2
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            inpuT.form-control.col-md-7.col-xs-12(type='text', name='telefono2' id="telefono2")
                                    script(type='text/javascript').

                                        var client_type = document.querySelectorAll(".tipoCliente"),
                                            local = client_type[0],
                                            empresa = client_type[1];

                                        function displayEmpresa(){
                                            document.querySelector("#idempresa").style="display:block";
                                        }

                                        function hiddenEmpresa(){
                                            document.querySelector("#idempresa").style="display:none";
                                        }

                                        function hiddenLocal(){
                                            document.querySelector("[for=nombre]").parentElement.style="display:none";
                                            document.querySelector("[for=correo]").parentElement.style="display:none";
                                            document.querySelector("[for=telefono]").parentElement.style="display:none";
                                            document.querySelector("[for=telefono2]").parentElement.style="display:none";
                                        }

                                        function displayLocal(){

                                            document.querySelector("[for=nombre]").parentElement.style = "display:block";
                                            document.querySelector("[for=correo]").parentElement.style = "display:block";
                                            document.querySelector("[for=telefono]").parentElement.style = "display:block";
                                            document.querySelector("[for=telefono2]").parentElement.style = "display:block";
                                        }

                                        local.addEventListener('click', function(){
                                            setTimeout(function(){
                                                if (local.querySelector('input').checked) {
                                                    document.wizard.action = "/reporte_local"
                                                    hiddenEmpresa();
                                                    displayLocal();
                                                }
                                            },10);

                                        });

                                        empresa.addEventListener('click', function () {
                                            setTimeout(function () {
                                                if (empresa.querySelector('input').checked) {
                                                    document.wizard.action = "/reporte_empresa"
                                                    hiddenLocal();
                                                    displayEmpresa();
                                                }
                                            }, 10);

                                        });

                                        setTimeout(function(){
                                            local.click();
                                        },600);




                                #step-2
                                    form.form-horizontal.form-label-left(enctype='multipart/form-data')
                                        .form-group
                                            label.control-label.col-md-3.col-sm-3.col-xs-12(for='nombrereporte')
                                                | Nombre del reporte
                                                span.required *
                                            .col-md-6.col-sm-6.col-xs-12
                                                input.form-control.col-md-7.col-xs-12(type='text', id="nombrereporte", name="nombrereporte", required='required')
                                        .form-group
                                            label.control-label.col-md-3.col-sm-3.col-xs-12(for='reporteant')
                                                | Reporte anterior (opcional) {id del reporte anterior}
                                            .col-md-6.col-sm-6.col-xs-12
                                                input.form-control.col-md-7.col-xs-12(type='text', id="reporteant", name="reporteant")
                                        .form-group
                                            label.control-label.col-md-3.col-sm-3.col-xs-12(for='costo')
                                                | Costo del servicio (opcional)
                                                span.required *
                                            .col-md-6.col-sm-6.col-xs-12
                                                input.form-control.col-md-7.col-xs-12(type='text', id="costo" name="costo" )
                                        .form-group
                                            label.control-label.col-md-3.col-sm-3.col-xs-12(for='fechaentrega')
                                                | Fecha de entrega (opcional)
                                                span.required *
                                            .col-md-6.col-sm-6.col-xs-12
                                                input.form-control.col-md-7.col-xs-12(type='text', id="fechaentrega" name="fechaentrega")
                                        .form-group
                                            label.control-label.col-md-3.col-sm-3.col-xs-12 Categoría
                                            .col-md-6.col-sm-6.col-xs-12
                                                select.select2_single.form-control(tabindex='-1' name="categoria")
                                                    option
                                                    option(value='1') Celulares & Tablets
                                                    option(value='2') Laptop
                                        .form-group
                                            label.control-label.col-md-3.col-sm-3.col-xs-12 Estado inicial
                                            .col-md-6.col-sm-6.col-xs-12
                                                select.select2_single.form-control(tabindex='-1' name="estado")
                                                    option
                                                    option(value='1') Recibido por el tecnico
                                                    option(value='2') Reparando el equipo
                                        .form-group
                                            label.control-label.col-md-3.col-sm-3.col-xs-12
                                                | Descripcion
                                                span.required *
                                            .col-md-6.col-sm-6.col-xs-12
                                                textarea.form-control(rows='3', name="descripcion" id="descripcion")
                                #step-3
                                    form.form-horizontal.form-label-left(enctype='multipart/form-data')
                                        .form-group
                                            label.control-label.col-md-3.col-sm-3.col-xs-12(for='file')
                                                | Fecha de entrega (opcional)
                                                span.required *
                                            .col-md-6.col-sm-6.col-xs-12
                                                input.form-control.col-md-7.col-xs-12(type='file', id="file" name="file")
                                        p
                                        //div.dropzone(action='/reporte_local/files' )
                                        br
                                        br
                                        br
                                        br

                                #step-4
                                    div
                                        h4 Seguimiento & Comentarios
                                        // end of user messages
                                        br
                                        textarea(id="textarea" required="required" name="comentarios" class="form-control col-md-7 col-xs-12" style="min-width:100%; max-width:100%; width:100%; margin-bottom:1rem; min-height:70px;")

                                        div.message_wrapper(style="padding-top:4em;margin-top:2rem;")
                                            .col-md-7
                                                button(id="send" type="submit" class="btn btn-success") Enviar
                                            .col-md-5(align="right")
                                                div.checkbox
                                                    input(type="checkbox" value="" checked)
                                                    | Privado

                                        br
        script(type="text/javascript").
            setTimeout(function(){
                document.querySelector(".buttonFinish.btn.btn-default").addEventListener('click', function () {
                    document.wizard.submit();
                });
            },500);
