
extends layout

block content
    div
        .page-title
            .title_left
                h3
                    | Historial reportes
            .title_right
                .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
                    .input-group

        .col-md-12.col-sm-12.col-xs-12
            .x_panel

                .x_content
                    
                    table#datatable-fixed-header.table.table-striped.table-bordered
                        thead
                            tr
                                th Name
                                th Position
                                th Office
                                th Age
                                th Start date
                                th Salary
                        tbody
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
                            tr
                                td Garrett Winters
                                td Accountant
                                td Tokyo
                                td 63
                                td 2011/07/25
                                td $170,750
                            tr
                                td Ashton Cox
                                td Junior Technical Author
                                td San Francisco
                                td 66
                                td 2009/01/12
                                td $86,000
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
                            tr
                                td Garrett Winters
                                td Accountant
                                td Tokyo
                                td 63
                                td 2011/07/25
                                td $170,750
                            tr
                                td Ashton Cox
                                td Junior Technical Author
                                td San Francisco
                                td 66
                                td 2009/01/12
                                td $86,000
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
                            tr
                                td Garrett Winters
                                td Accountant
                                td Tokyo
                                td 63
                                td 2011/07/25
                                td $170,750
                            tr
                                td Ashton Cox
                                td Junior Technical Author
                                td San Francisco
                                td 66
                                td 2009/01/12
                                td $86,000
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
                            tr
                                td Garrett Winters
                                td Accountant
                                td Tokyo
                                td 63
                                td 2011/07/25
                                td $170,750
                            tr
                                td Ashton Cox
                                td Junior Technical Author
                                td San Francisco
                                td 66
                                td 2009/01/12
                                td $86,000
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
                            tr
                                td Garrett Winters
                                td Accountant
                                td Tokyo
                                td 63
                                td 2011/07/25
                                td $170,750
                            tr
                                td Ashton Cox
                                td Junior Technical Author
                                td San Francisco
                                td 66
                                td 2009/01/12
                                td $86,000
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
                            tr
                                td Garrett Winters
                                td Accountant
                                td Tokyo
                                td 63
                                td 2011/07/25
                                td $170,750
                            tr
                                td Ashton Cox
                                td Junior Technical Author
                                td San Francisco
                                td 66
                                td 2009/01/12
                                td $86,000
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
                            tr
                                td Garrett Winters
                                td Accountant
                                td Tokyo
                                td 63
                                td 2011/07/25
                                td $170,750
                            tr
                                td Ashton Cox
                                td Junior Technical Author
                                td San Francisco
                                td 66
                                td 2009/01/12
                                td $86,000
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
                            tr
                                td Garrett Winters
                                td Accountant
                                td Tokyo
                                td 63
                                td 2011/07/25
                                td $170,750
                            tr
                                td Ashton Cox
                                td Junior Technical Author
                                td San Francisco
                                td 66
                                td 2009/01/12
                                td $86,000
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
                            tr
                                td Garrett Winters
                                td Accountant
                                td Tokyo
                                td 63
                                td 2011/07/25
                                td $170,750
                            tr
                                td Ashton Cox
                                td Junior Technical Author
                                td San Francisco
                                td 66
                                td 2009/01/12
                                td $86,000


