footer
    .pull-right
        //| Gentelella - Bootstrap Admin Template by
        //a(href="https://colorlib.com") Colorlib
    .clearfix

script(src="../vendor/jquery/dist/jquery.min.js")
script(src="../vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="../vendor/fastclick/lib/fastclick.js")
script(src="../vendor/nprogress/nprogress.js")
script(src="../vendor/Chart.js/dist/Chart.min.js")
script(src="../vendor/gauge.js/dist/gauge.min.js")
script(src="../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js")
script(src="../vendor/iCheck/icheck.min.js")
script(src="../vendor/skycons/skycons.js")
script(src="../vendor/Flot/jquery.flot.js")
script(src="../vendor/Flot/jquery.flot.pie.js")
script(src="../vendor/Flot/jquery.flot.time.js")
script(src="../vendor/Flot/jquery.flot.stack.js")
script(src="../vendor/Flot/jquery.flot.resize.js")
script(src="../vendor/flot.orderbars/js/jquery.flot.orderBars.js")
script(src="../vendor/flot-spline/js/jquery.flot.spline.min.js")
script(src="../vendor/flot.curvedlines/curvedLines.js")
script(src="../vendor/DateJS/build/date.js")
script(src="../vendor/jqvmap/dist/jquery.vmap.js")
script(src="../vendor/jqvmap/dist/maps/jquery.vmap.world.js")
script(src="../vendor/jqvmap/examples/js/jquery.vmap.sampledata.js")
script(src="../vendor/moment/min/moment.min.js")
script(src="../vendor/bootstrap-daterangepicker/daterangepicker.js")


// Custom Theme Scripts
script(src="../build/js/custom.min.js")