head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="images/favicon.ico" type="image/ico")

    title= title

    link(href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet")
    link(href="/vendor/nprogress/nprogress.css" rel="stylesheet")
    link(href="/vendor/iCheck/skins/flat/green.css" rel="stylesheet")
    link(href="/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet")
    link(href="/vendor/jqvmap/dist/jqvmap.min.css" rel="stylesheet")
    link(href="/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet")
    link(href="/build/css/custom.min.css" rel="stylesheet")
    link(href="/vendor/dropzone/dist/min/dropzone.min.css" rel="stylesheet")
    link(href="/vendor/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet")
    link(href="/css/juan.css" rel="stylesheet")