.profile.clearfix
    .profile_pic
        img.img-circle.profile_img(src="images/img.jpg" alt="...")
    .profile_info
        span Welcome,
        h2  #{user.nombre}
        script(type='text/javascript')
            | console.dir('#{user.nombre}')

