.profile.clearfix
    .profile_pic
        img.img-circle.profile_img(src="images/img.jpg" alt="...")
    .profile_info
        span Welcome,
<<<<<<< HEAD
        h2  #{user.nombre}
        script(type='text/javascript')
            | console.dir('#{user.nombre}')

=======
        h2 #{user.nombre}
>>>>>>> afa2f9bca84f0e77d5da6362a9945fc0cd50e141
