// sidebar menu
#sidebar-menu.main_menu_side.hidden-print.main_menu
  .menu_section
    h3 General
    ul.nav.side-menu
      li
        a(href="/app")
          i.fa.fa-home
          |  Inicio
      li
        a
          i.fa.fa-bar-chart-o
          |  Analisis de datos
      li
        a
          i.fa.fa-edit
          |  Reportes
          span.fa.fa-chevron-down
        ul.nav.child_menu
          li
            a(href="/new-report") Nuevo reporte
          li
            a(href="/report-list") General
          li
            a(href="/report-list") Reportes locales
          li
            a(href="/report-list") Reportes empresariales
          li
            a(href="/report") Demo Reporte
      li
        a
          i.fa.fa-archive
          |  Categorias
          span.fa.fa-chevron-down
        ul.nav.child_menu
          li
            a(href="/new-category") Nueva categoría
          li
            a(href="/category-list") Todas las categorias
      li
        a
          i.fa.fa-building
          |  Empresas
          span.fa.fa-chevron-down
        ul.nav.child_menu
          li
            a(href="/new-company") Nueva empresa
          li
            a(href="/company-list") Directorio de empresas
      li
        a(href="/client-list")
          i.fa.fa-male
          |  Clientes locales
      li
        a
          i.fa.fa-calendar
          |  Calendario
          span.fa.fa-chevron-down
        ul.nav.child_menu
          li
            a(href="tables.html") Ver calendario
          li
            a(href="tables_dynamic.html") Nuevo evento
      li
        a
          i.fa.fa-inbox
          |  Enlace
          span.fa.fa-chevron-down
        ul.nav.child_menu
          li
            a(href="chartjs.html") Chat global
          li
            a(href="chartjs2.html") Mensajeria

  .menu_section
    h3 Administración
    ul.nav.side-menu
      li
        a
          i.fa.fa-users
          |  Usuarios
          span.fa.fa-chevron-down
        ul.nav.child_menu
          li
            a(href="new-user") Nuevo usuario
          li
            a(href="user-admin") Administrar usuarios
          li
            a(href="project_detail.html") Project Detail
          li
            a(href="contacts.html") Contacts
          li
            a(href="profile.html") Profile
      li
        a
          i.fa.fa-cogs
          |  Configuracion
          span.fa.fa-chevron-down
        ul.nav.child_menu
          li
            a(href="page_403.html") 403 Error
          li
            a(href="page_404.html") 404 Error
          li
            a(href="page_500.html") 500 Error
          li
            a(href="plain_page.html") Plain Page
          li
            a(href="login.html") Login Page
          li
            a(href="pricing_tables.html") Pricing Tables
      li
        a
          i.fa.fa-bullhorn
          |  Feedback
          span.fa.fa-chevron-down
        ul.nav.child_menu
          li
            a(href="#level1_1") Level One
          li
            a
              | Level One
              span.fa.fa-chevron-down
            ul.nav.child_menu
              li.sub_menu
                a(href="level2.html") Level Two
              li
                a(href="#level2_1") Level Two
              li
                a(href="#level2_2") Level Two
          li
            a(href="#level1_2") Level One
      li
        a(href="javascript:void(0)")
          i.fa.fa-laptop
          |  Landing Page
          span.label.label-success.pull-right Coming Soon
// /sidebar menu