.top_nav
    .nav_menu
        nav
            .nav.toggle
                a#menu_toggle
                    i.fa.fa-bars
            ul.nav.navbar-nav.navbar-right
                li
                    include profile_dropmenu
                li.dropdown(role="presentation")
                    include msj_notifications
